<!DOCTYPE html>
<html>
<head>
  <title>Sevenpages</title>
  <%= stylesheet_link_tag    "sevenpages/application", :media => "all" %>
  <%= javascript_include_tag "sevenpages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
